<a href="https://colab.research.google.com/github/gilbertduenas/Python-Variables/blob/master/Python_Variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Variables need not be declared or defined in advance in Python. To create a variable, you just assign it a value.

---

In [1]:
let x = 100

SyntaxError: ignored

In [2]:
x = 100

In [3]:
x << 100

126765060022822940149670320537600

In [4]:
x := 100

SyntaxError: ignored

In [5]:
x ← 100

SyntaxError: ignored

Only x = 100 assigns 100 to x.

---

In [6]:
n = 300
m = n

The first statement creates an integer object with value 300, and n is a reference to it. The second statement creates a second reference to the already existing object.

---

In [7]:
id(n)

140518131329328

In [8]:
id(m)

140518131329328

If two variables have the same id(), you know they reference the same object:

---

In [9]:
# Valid variable names
route66 = 0
Age = 1
home_address = 2

- 4square is not valid because it begins with a digit.
- return is not valid because it is a Python reserved word (keyword).
- version1.3 is not valid because it contains a character which is not a letter, digit or underscore.

---

In [10]:
employeenumber = 4398
EmployeeNumber = 4398
employeeNumber = 4398

Case matters, so these variables are all different.

---

PEP8 recommends snake case for variable names.

---

These are reserved words in Python....

- class
- None
- and

---